body {
  background: lawngreen;
  color: magenta;
}

.link {
  color: red;
}

blockquote {
  font: Comic;
}

img {
  border-radius: 20px;
  background: black;
  padding: 10px;
  width: 202px;
  height: 249px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
  content: "☞";
  padding-right: 5 px;
}
