html {
  display: flex;
}

body {
  background-image: url("johncena.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: magenta;
  width: 90%;
  flex: 1;
}

p {
  padding: 5px;
  margin: 10px;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

header {
  display: flex;
  justify-content: center;
}

.link {
  color: red;
}

.quote {
  color: yellow;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 30px;
}

img {
  border-radius: 20px;
  background: black;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}

li:before {
  content: "☞";
  padding-right: 5 px;
}

.leftalign {
  justify-content: flex-start;
  margin-left: 10px;
}
